.destinations-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations-items .item .img-item {
  width: 100%;
  height: 368px;
}

.destinations-items .item.tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.destinations-items .item.osaka .img-item {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

.destinations-items .item header h3 {
  margin: 24px 0px;
}

.destinations-items .item p {
  margin-bottom: 24px;
}

.destinations .button {
  width: 100%;
}

/* Pacotes de Viagens */

.travel-packages.destinations .destinations-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.travel-packages.destinations .destinations-items .item .img-item {
  width: 100%;
  height: 368px;
}

.travel-packages.destinations .destinations-items .item.tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg);
  background-size: cover;
}

.travel-packages.destinations .destinations-items .item.osaka .img-item {
  background: url(../img/osaka-mobile.jpg);
  background-size: cover;
}

.travel-packages.destinations .destinations-items .item header h3 {
  margin: 24px 0px;
}

.travel-packages.destinations .destinations-items .item p {
  margin-bottom: 24px;
}

.travel-packages.destinations .destinations .button {
  width: 100%;
}

/* Fim do Pacotes de Viagens */

@media screen and (min-width: 768px) {
  .destinations-items .item .img-item {
    width: 648px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }

  .destinations .item.tokyo .img-item {
    background: url(../img/tokyo-tablet-desk.jpg);
    background-size: cover;
  }

  .destinations .item.osaka .img-item {
    background: url(../img/osaka-tablet-desk.jpg);
    background-size: cover;
  }

  .destinations .button {
    width: 280px;
  }

  /* Pacotes de Viagens */

  .travel-packages.destinations .destinations-items .item .img-item {
    width: 648px;
  }

  .travel-packages.destinations .destinations-items .item .img-item {
    width: 100%;
    height: 452px;
  }

  .travel-packages.destinations .destinations-items .item.tokyo .img-item {
    background: url(../img/tokyo-tablet-desk.jpg);
    background-size: cover;
  }

  .travel-packages.destinations .destinations-items .item.osaka .img-item {
    background: url(../img/osaka-tablet-desk.jpg);
    background-size: cover;
  }

  .travel-packages.destinations .destinations .button {
    width: 280px;
  }

  /*Fim do Pacotes de Viagens*/
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }

  /*Pacotes de Viagens */
  
  .travel-packages.destinations {
    width: 900px;
  }

  .travel-packages.destinations .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }

  
  /*Fim do Pacotes de Viagens*/
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }

  .destinations-items {
    flex-direction: row;
  }

  /*Pacotes de Viagens */

  .travel-packages.destinations {
    width: 1200px;
  } 

  .travel-packages.destinations .destinations-items {
    flex-direction: row;
  }
  /*Fim do Pacotes de Viagens*/
}
